{% extends "base.html" %}

{% block content %}
{% for item in names %}

<div class="card">
  <!-- Верхняя часть -->
  <div class="card_top">
    <!-- Изображение-ссылка товара -->
    <div href="#" class="card_image">
      <img
        src="{{item.img}}"
      />
    </div>
  </div>
  <div class="card_bottom">
    <div class="card_prices">
      <div class="card_price card_price">{{item.price}}</div>
    </div>
    <!-- Ссылка-название товара -->
    <a href="#" class="card_title">
      {{item.name}}
    </a>
  </div>
</div>
{% endfor %}
{% endblock %}