{% extends "base.html" %}

{% block catalog %}
<style>
.my_button {
    width: 100%;
    height: 5%;
}
</style>
<form action="http://127.0.0.1:5000/men_clothes">
    <input type="submit" value="Мужская одежда" class="my_button"/>
</form>
<form action="http://127.0.0.1:5000/w_clothes">
    <input type="submit" value="Женская одежда" class="my_button"/>
</form>
<form action="http://127.0.0.1:5000/shoes">
    <input type="submit" value="Обувь" class="my_button"/>
</form>
<form action="http://127.0.0.1:5000/acsessories">
    <input type="submit" value="Аксессуары" class="my_button"/>
</form>
{% endblock %}