{% extends "base.html" %}

{% block content %}
<h1>{{catalog}}</h1>
{% endblock %}
{% block catalog %}
<form action="http://127.0.0.1:5000/catalog/clothes" style="color: 0000ff;">
    <input type="submit" value="одежда" />
</form>
<form action="http://127.0.0.1:5000/catalog/shoes" style="color: 0000ff;">
    <input type="submit" value="shoes" />
</form>
<form action="http://127.0.0.1:5000/catalog/sportfit" style="color: 0000ff;">
    <input type="submit" value="Спортивная одежда" />
</form>
<form action="http://127.0.0.1:5000/catalog/acsessories" style="color: 0000ff;">
    <input type="submit" value="аксессуары" />
</form>
{% endblock %}
